{% extends 'blog/base.html'%}
{% load static %}
{% block title %}詳細ページ|Private Blog{% endblock %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>日記詳細</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
                <p>{{ object.published_at|date }}</p>
            </div>
        </div>
            <hr>

        <div class=row>
            <div class="col-3">
                <strong>本文</strong>
            </div>
            <div class="col-9">
                {{ object.content|linebreaksbr }}
            </div>
        </div>
        <hr>

        <div class=row>
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-3">
                {% if object.img %}
                    <img src="{{ object.img.url }}" width="200" height="200"/>
                {% endif %}
            </div>
        </div>
        <hr>
                
        <div class=row>
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>
        <hr>

        <div class=row>
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>
        </div>
        <a class="btn btn-success mt-5 mb-3" href="#">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="#">削除</a>
    </div>
</div>
<img src="/media/post_content_images/nc72734.png" width="300" height="300" alt="Pipenv | Python">
<hr>
{{ object.content|safe }}
<article class="comment-area">
    <a class="btn btn-primary my-3" href="{% url 'blog:comment_form' post.pk %}">コメントを投稿する</a>
    {% include "blog/snippets/comments.html" %}
  </article>
{% endblock %}