{% extends 'blog/base.html' %}
{% load static %}

{% block title %}ブログ更新|Private Blog{% endblock %}
{% block active_index %}active{% endblock %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/blog.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Update</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block contents%}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">更新</button>
                <a class="btn btn-secondary ml-2" href="{% url 'blog:blog_detail' object.pk %}">キャンセル</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}