{% extends 'base.html' %}
{% load static %}

{% block title %}ブログ一覧 | Kazumaru Blog{% endblock %}

{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{% url 'kazumaru:blog_create' %}">新規作成</a>
            </div>
            {% for kazumaru in blog_list %}
            <div class="post-preview">
                <a href="{% url 'kazumaru:blog_detail' kazumaru.pk %}">
                    <h2 class="post-title">{{ kazumaru.title }}</h2>
                    <h3 class="post-subtitle">{{ kazumaru.content|truncatechars:20 }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2021
                </p>
            </div>
            <hr>
            {% empty %}
                <p>日記がありません。</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
