{% extends 'blog/base.html'%}
{% load static %}
{% block title %}Web上にあなた専用のブログページを保存できるサービス|Private Blog{% endblock %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Public Blog</h1>
                    <span class="subheading">個人で閲覧可能のブログサイト</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block contents %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <h3>one</h3>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <h3>two</h3>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <h3>three</h3>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Sample</h2>
                    <h3 class="post-subtitle">Sample-sub</h3>
                </a>
                <p class="post-meta">
                    Posted by Start Bootstrap on July 8, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <h1>投稿一覧</h1>
            <ul>
            {% for blog in object_list %}
            {% if user.is_authenticated or blog.is_public %}
                <li>
                    {% if not blog.is_public %}[下書き] 
                    {% endif %}
                    <a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a>
                    <br>
                    {% if blog.img %}
                    <a href="{% url 'blog:blog_detail' blog.id%}">
                        <img src="{{ blog.img.url }}" alt="{{ blog.title }}">
                    </a>
                    {% endif %}
                </li>
            {% endif %}
            {% empty %}
            <li>まだ投稿はありません。</li>
            {% endfor %}
            </ul>
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}