{% extends 'base.html' %}
{% load static %}

{% block title %}Blog Delete | Blog{% endblock %}
{% block header %}
<header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog Delete</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="post">
                {% csrf_token %}
                <p>本当に削除しますか？</p>
                <button class="btn btn-primary mt-5" type="submit">削除</button>
                <a href="{% url 'sato:blog_detail' object.pk %}" class="btn btn-secondary mt-5 ml-2">キャンセル</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}