{% extends 'base.html' %}
{% load static %}

{% block title %}Blog List | Blog{% endblock %}
{% block header %}
<header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog List</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
<!-- Content section 1-->
<section id="scroll">
    <div class="container mt-5">
        <div class="row">
            <div class="my-div-style w-100">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="{% url 'sato:blog_create' %}">新規作成</a>
                    </div>
                    {% for blog in blog_list %}
                        <div class="post-preview">
                            <a href="{% url 'sato:blog_detail' blog.pk %}">
                                <h2 class="post-title">{{ blog.title }}</h2>
                                <h3 class="post-subtitle">{{ blog.content|truncatechars:20 }}</h3>
                            </a>
                            <p class="post-meta">{{ blog.created_at }} 作成者{{ blog.user }}</p>
                        </div>
                        <hr>
                    {% empty %}
                        <p>日記がありません。</p>
                    {% endfor %}

                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page_num in page_obj.paginator.page_range %}
                                {% if page_obj.number == page_num %}
                                    <li class="page-item active">
                                        <a href="#" class="page-link">{{ page_num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>            
</section>
{% endblock %}