{% extends 'base.html'%}
{% load static %}

{% block header %}
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{%endblock%}

{%block active_contact %}Form{%endblock%}

{%block contents%}
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                            <form id="contactForm" method='post'>
                                {%csrf_token%}
                                {{form.non_field_errors}}
                                {%for field in form%} 
                                <div class="form-floating">
                                    <label for="{{field.id_for_label}}" class="col-sm-4 col-form-label">
                                        <strong>{{field.label_tag}}</strong>
                                    </label>                                  
                                    {{field}}
                                    {{field.errors}}
                                </div>
                                {%endfor%}
                                <br />
 
                                <button class="btn btn-primary text-uppercase disabled" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {%endblock%}